
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
 
}

.header {
  
    padding: 10px;
    align-items: center;
}

.logo-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-left:100px;
}


.logo-menu-container li{
    margin-left: 50px;
}


.menu-principal{
    margin-right: 40px; /* Ajusta el espacio a la derecha del menú según tu preferencia */
    padding: 10px;
    
    
}
.menu-principal a{
    
        text-decoration: none;
        color: #A3BB3F; /* Cambia el color del texto según tu preferencia */
       font-family:Arial,Arial, Helvetica,  sans-serif;
       font-size: 25px;
       transition: box-shadow 0.3s ease;
       text-decoration: none;
 
}

.menu-principal ul{
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
}
.menu-principal a:hover {
    color:#F9B794; /* Cambia el color al pasar el ratón sobre el enlace */
    box-shadow: 0 4px 8px rgba(151, 142, 142, 0.1); 
    border-radius: 5px;
    background: transparent;
}





#burgue {
    display: none;
  }
  
  .burgue-icono {
    width: 25px;
  }
  
  /* Selecciona el label asociado al input con id "burgue" */
  #burgue + label {
    cursor: pointer;
    display: none; /* Cambiado de "none" a "inline-block" para hacerlo visible */
  }
  
/* carrito" */

.submenu {
    position: relative;
    padding: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}



/* carrito COMPRAS */
#carrito {
  display: none; /* Oculta inicialmente el carrito */
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #faf8f7a1;
  padding: 20px;
  min-width: 400px;
 
}

#carrito.visible {
  display: block; /* Muestra el carrito cuando tiene la clase 'visible' */
}

table {
  width: 200%;
 height: 200%;
}

th, td {
  color: #101111;
  text-align: left;
  margin: 5px;
  padding: 10px; /* Agrega un relleno interno para dar espacio dentro de las celdas */
  margin: 5px; 
}
/* Estilo para la tabla */

#lista-carrito th:nth-child(4), /* Selecciona la cuarta columna (Cantidad) del encabezado */
#lista-carrito td:nth-child(4), /* Selecciona la cuarta columna (Cantidad) del cuerpo */
#lista-carrito th:nth-child(5), /* Selecciona la quinta columna (Eliminar) del encabezado */
#lista-carrito td:nth-child(5) { /* Selecciona la quinta columna (Eliminar) del cuerpo */
  text-align: center; /* Centra horizontalmente el contenido */
  vertical-align: middle; /* Centra verticalmente el contenido */
}


#lista-carrito {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#lista-carrito .eliminar-producto {
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono de eliminar */
}

#lista-carrito .eliminar-producto:hover {
  color: #A3BB3F; /* Cambia el color del icono de eliminar al pasar sobre él */
}


/* Ajustes de diseño para la columna de total */
#total-pagar {
  margin-top: 10px;
  text-align: left; /* Alinea el texto "Total" a la derecha */
  font-weight: bold; /* Hace que el texto "Total" sea negrita */
}



#vaciar-carrito, #procesar-pedido {
  width: 140px;
  height: 20px;
  display: inline-block;
  background-color: #A3BB3F;
  color: #110d0a;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 30px; /* Ajusta el margen entre los botones según sea necesario */
  margin-top: 20px; 
}

#vaciar-carrito:hover, #procesar-pedido:hover {
  background-color: #F9B794;
}






.agregar-carrito {
  text-decoration: none;
}

#carrito-container {
  position: relative;
}

#carrito-header {
  position: relative;
}

#cantidad-carrito {
  background-color: rgba(224, 107, 39, 0.918);
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  left: 58%;
  transform: translateX(-50%);
  display: none;
}
#img-carrito {
margin: 0;
width: 40px;
background: transparent; /* Establece el fondo como transparente */
transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregamos transiciones */
border: 2px solid transparent;
cursor: pointer;

}

#img-carrito:hover {
filter: contrast(200%);
transform: scale(1.5);
border-radius: 3px;

}


/* Estilos para el campo de entrada de cantidad */
.cantidad-input {
  width: 25px; /* Ancho del campo */
  height: 15px; /* Altura del campo */
  padding: 5px; /* Espacio interno del campo */
  font-size: 14px; /* Tamaño de la fuente del campo */


}
.cantidad-input {
  border: 2px solid #A3BB3F; /* Cambia el color del borde del input */
  background-color: #f2f2f2; /* Cambia el color de fondo del input */
  color: #333; /* Cambia el color del texto dentro del input */
  padding: 5px; /* Ajusta el relleno interior del input */
  border-radius: 5px; /* Aplica bordes redondeados al input */
}

.cantidad-input:focus {
  border-color: #F9B794; /* Cambia el color del borde cuando el input está enfocado */
  background-color: #fff; /* Cambia el color de fondo cuando el input está enfocado */
  outline: none; /* Quita el contorno predeterminado al enfocar el input */
}


/*gatita*/
.gatita img {
    max-width: 140%;
    height: auto;
    margin-right: 0px; /* Ajusta según sea necesario */

}

/*carrusel*/

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-section {
    flex-grow: 1; /* Esto permite que la sección del slider ocupe el espacio restante */
    margin-right: 40px; /* Ajusta según sea necesario */
}
  
.container {
    max-width: 1000px;
    width: 95%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 40%;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #A3BB3F;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #F9B794;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 325px;
    object-fit: cover;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
   
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #F9B794;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:hover{
    background-color: #A3BB3F;}
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }

/* texto del centro */
.bienvenida{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
margin-left: 133px;
 padding: 10px;
 text-align: center;
 color: transparent;
    background-image: linear-gradient(to left, #FFD700,  #F9B794, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%; 
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
}
.final {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    color: #F9B794;
    padding: 20px;
}



.horarios,
.contacto,
.redes-icons {
    text-align: left;
    font-size: 20px;
}

 h1 {
    color:#4A7348; /* Cambia el color del texto para tus elementos h1 */
    margin-bottom: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
   
}

.pull-left {
    float: left;
    clear: both;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.social-icons a {
    display: inline-block; /* Hace que los enlaces sean elementos de bloque en línea */
    margin: 0 10px; /* Ajusta el margen horizontal entre los enlaces según tus preferencias */
}

.social-icons {
    text-align: center; /* Centra los elementos en el contenedor */
    margin-top: 0px; /* Ajusta el margen superior según tus preferencias */
}

.derechos{

  font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#144712;
    font-size: 15px;
}

.welcome-about {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.welcome-about .container {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-about h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.welcome-about p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify; /* Añadir esta línea para justificar los párrafos */
}
