body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  
}

.header {
  
    padding: 10px;
    align-items: center;
}

.logo-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-left:100px;
}


.logo-menu-container li{
    margin-left: 50px;
}





/*segundomenu*/

.menu {
    margin-right: 100px; /* Ajusta el espacio a la derecha del menú según tu preferencia */
    padding: 10px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos del menú */
}

.menu li {
    margin-left: 50px; /* Ajusta el espacio entre elementos según tu preferencia */
}

.menu a {
    text-decoration: none;
    color: #A3BB3F; /* Cambia el color del texto según tu preferencia */
   font-family:Arial,Arial, Helvetica,  sans-serif;
   font-size: 25px;
}

.menu a:hover {
    color:#F9B794; /* Cambia el color al pasar el ratón sobre el enlace */
    box-shadow: 0 4px 8px rgba(151, 142, 142, 0.1); 
    border-radius: 5px;
}

#burgue {
    display: none;
  }
  
  .burgue-icono {
    width: 25px;
  }
  
  /* Selecciona el label asociado al input con id "burgue" */
  #burgue + label {
    cursor: pointer;
    display: none; /* Cambiado de "none" a "inline-block" para hacerlo visible */
  }
  
  
.submenu {
    position: relative;
    padding: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}


 /* carrito COMPRAS */
#carrito {
    display: none; /* Oculta inicialmente el carrito */
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #faf8f7a1;
    padding: 20px;
    min-width: 400px;
   
}

#carrito.visible {
    display: block; /* Muestra el carrito cuando tiene la clase 'visible' */
}

table {
    width: 200%;
   height: 200%;
}

th, td {
    color: #101111;
    text-align: left;
    margin: 5px;
    padding: 10px; /* Agrega un relleno interno para dar espacio dentro de las celdas */
    margin: 5px; 
}
/* Estilo para la tabla */

#lista-carrito th:nth-child(4), /* Selecciona la cuarta columna (Cantidad) del encabezado */
#lista-carrito td:nth-child(4), /* Selecciona la cuarta columna (Cantidad) del cuerpo */
#lista-carrito th:nth-child(5), /* Selecciona la quinta columna (Eliminar) del encabezado */
#lista-carrito td:nth-child(5) { /* Selecciona la quinta columna (Eliminar) del cuerpo */
    text-align: center; /* Centra horizontalmente el contenido */
    vertical-align: middle; /* Centra verticalmente el contenido */
}


#lista-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#lista-carrito .eliminar-producto {
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono de eliminar */
}

#lista-carrito .eliminar-producto:hover {
    color: #A3BB3F; /* Cambia el color del icono de eliminar al pasar sobre él */
}


/* Ajustes de diseño para la columna de total */
#total-pagar {
    margin-top: 10px;
    text-align: left; /* Alinea el texto "Total" a la derecha */
    font-weight: bold; /* Hace que el texto "Total" sea negrita */
}



#vaciar-carrito, #procesar-pedido {
    width: 140px;
    height: 20px;
    display: inline-block;
    background-color: #A3BB3F;
    color: #110d0a;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 30px; /* Ajusta el margen entre los botones según sea necesario */
    margin-top: 20px; 
}

#vaciar-carrito:hover, #procesar-pedido:hover {
    background-color: #F9B794;
}






.agregar-carrito {
    text-decoration: none;
}

#carrito-container {
    position: relative;
}

#carrito-header {
    position: relative;
}

#cantidad-carrito {
    background-color: rgba(224, 107, 39, 0.918);
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: 85px;
    left: 58%;
    transform: translateX(-50%);
    display: none;
}
#img-carrito {
  margin: 0;
  width: 40px;
  background: transparent; /* Establece el fondo como transparente */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregamos transiciones */
  border: 2px solid transparent;
  cursor: pointer;
 
}

#img-carrito:hover {
  filter: contrast(200%);
  transform: scale(1.5);
 border-radius: 3px;

}


/* Estilos para el campo de entrada de cantidad */
.cantidad-input {
    width: 25px; /* Ancho del campo */
    height: 15px; /* Altura del campo */
    padding: 5px; /* Espacio interno del campo */
    font-size: 14px; /* Tamaño de la fuente del campo */

  
}
.cantidad-input {
    border: 2px solid #A3BB3F; /* Cambia el color del borde del input */
    background-color: #f2f2f2; /* Cambia el color de fondo del input */
    color: #333; /* Cambia el color del texto dentro del input */
    padding: 5px; /* Ajusta el relleno interior del input */
    border-radius: 5px; /* Aplica bordes redondeados al input */
}

.cantidad-input:focus {
    border-color: #F9B794; /* Cambia el color del borde cuando el input está enfocado */
    background-color: #fff; /* Cambia el color de fondo cuando el input está enfocado */
    outline: none; /* Quita el contorno predeterminado al enfocar el input */
}




.gatita img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto según sea necesario */
    padding: 0;
}


/* texto del centro */
.bienvenida{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
margin-left: 133px;
 padding: 10px;
 text-align: center;
 color: transparent;
    background-image: linear-gradient(to left, #FFD700,  #F9B794, #3498db, #2ecc71, #FFD700);    
    background-clip: text;
    animation: color 3s linear infinite;
    background-size: 500%; 
}

@keyframes color {
  from {
      background-position: 0% 50%;
  }

  to {
      background-position: 100% 50%;
  }
}
.final {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    color: #F9B794;
    padding: 20px;
}



.horarios,
.contacto,
.redes-icons {
    text-align: left;
    font-size: 20px;
}

 h1 {
    color:#A3BB3F; /* Cambia el color del texto para tus elementos h1 */
    margin-bottom: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
   
}

.pull-left {
    float: left;
    clear: both;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.social-icons a {
    display: inline-block; /* Hace que los enlaces sean elementos de bloque en línea */
    margin: 0 10px; /* Ajusta el margen horizontal entre los enlaces según tus preferencias */
}

.social-icons {
    text-align: center; /* Centra los elementos en el contenedor */
    margin-top: 0px; /* Ajusta el margen superior según tus preferencias */
}

.derechos{

  font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:#144712;
    font-size: 15px;
}



.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 300px;
}

.product img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}

.product-info {
    margin-top: 10px;
}

.product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black;
}

.product-price {
    color: #A3BB3F; /* Puedes cambiar el color del precio según tus preferencias */
    font-weight: bold;
    font-size: 17px;
    font-weight: 700;
}
.product-description {
    color:#515557;
    margin-bottom: 10px;
}

.btn-1 {
    background-color: #F9B794;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
}

.btn-1:hover{
    background-color: #A3BB3F;
}


.imagen-ampliada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que la imagen ampliada esté por encima de otros elementos */
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imagen-ampliada img {
    max-width: 80%; /* Limita el tamaño máximo de la imagen */
    max-height: 80%;
    border-radius: 10px; /* Bordes redondeados */
}

.cerrar-imagen {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #F9B794; /* Color del texto */
    font-size: 24px;
    cursor: pointer;
    z-index: 1001; /* Asegura que la X esté por encima de la imagen */
}

.cerrar-imagen:hover {
  color: #A3BB3F;
}